---
import GridWrapper from "./GridWrapper.astro";
import LinkButton from "./LinkButton.astro";
const {
  title,
  description,
  className,
  imgSrc,
  hrefDetail,
  hrefExternal,
} = Astro.props;
---

<GridWrapper
  paddingPC={0}
  columnPC={8}
  gapPC={1}
  paddingTab={0}
  columnTab={8}
  gapTab={1}
  paddingSp={0}
  columnSp={8}
  gapSp={1}
>

  <div class=`${className} left`>
    <div class="title">{title}</div>
    <div class="description">{description}</div>
    {(hrefDetail || hrefExternal) && <div class="link-area">
      {hrefDetail && <LinkButton href=`${hrefDetail}` text="詳細を見る" iconPath="/portfolio/icons/arrow-right.svg"/>}
      {hrefExternal && <LinkButton href=`${hrefExternal}` text="サイトへ移動する" iconPath="/portfolio/icons/external-link.svg" target="_blank"/>}  
    </div>}
  </div>
  <div class=`${className} right`>
    {imgSrc && <img src=`${imgSrc}.avif` alt="" />
  }
  </div>

</GridWrapper>

<style>
  .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .description {
    font-weight: 600;
    width: 40ch;
    &:has(+ div){
      margin-bottom: 4rem;
    }
  }
  .left {
    padding-block: 4rem;
    grid-column: 2/5;
  }
  .right {
    display: grid;
    padding-inline: 0;
    grid-column: 5/8;
    & img {
    border-radius: 1rem;
    width: 100%;
    align-self: center;
  }
  }
  .link-area{
    display: flex;
    gap: 1rem;
  }
  .one-blue {
    &.left {
      color: var(--color-white);
      background-color: var(--color-blue);
    }
    &.right {
      background-color: var(--color-blue);
    }
  }
</style>
