---
import GridWrapper from "./GridWrapper.astro";
import LinkButton from "./LinkButton.astro";
const {
  title,
  description,
  imgSrc,
  hrefDetail,
  hrefExternal,
} = Astro.props;
---

<GridWrapper
  paddingPC={0}
  columnPC={8}
  gapPC={2.5}
  paddingTab={0}
  columnTab={8}
  gapTab={2.5}
  paddingSp={0}
  columnSp={8}
  gapSp={2.5}
>
<div class=`left`>
  {imgSrc && <img src=`${imgSrc}.avif` alt="" />
}
</div>
<div class=`right`>
  <div class="title">{title}</div>
  <div class="description">{description}</div>
  {(hrefDetail || hrefExternal) && <div class="link-area">
    {hrefDetail && <LinkButton href=`${hrefDetail}` text="詳細を見る" iconPath="/icons/arrow-right.svg"/>}
    {hrefExternal && <LinkButton href=`${hrefExternal}` text="サイトへ移動する" iconPath="/icons/external-link.svg" target="_blank"/>}  
  </div>}
</div>


</GridWrapper>

<style>
  .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-block: var(--leading-trim);
    margin-bottom: 1rem;
  }
  .description {
    font-size: 0.8rem;
    font-weight: 600;
    width: 40ch;
    margin-block: var(--leading-trim);
    &:has(+ div){
      margin-bottom: calc(2.5rem + var(--leading-trim));
    }
  }
  .right {
    padding-block-end: 4rem;
    grid-column: 5/8;
  }
  .left {
    display: grid;
    padding-inline: 0;
    grid-column: 2/5;
    & img {
    border-radius: 1rem;
    width: 100%;
    align-self: center;
  }
  }
  .link-area{
    display: flex;
    gap: 1rem;
  }

</style>
